@model BlogViewModel
@{
    ViewData["Title"] = "BlogSingle";
}


<partial name="Page/_Title" />

<section class="blog-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-10 col-md-offset-1">
                <div class="blog-content">
                    <div class="post format-standard-image">
                        <div class="entry-media">
                            <img src="~/uploads/@Model.BlogImages.ElementAt(0).Image" alt="@Model.BlogImages[0].Image">
                        </div>
                        <ul class="entry-meta">
                            <li><a href="#"><i class="fi flaticon-user"></i>İdarəçi</a></li>
                            <li><a href="#"><i class="fi flaticon-tag-1"></i> Sığorta, şirkət</a></li>
                            <li><a href="#"><i class="fi flaticon-calendar"></i>@Model.CreatedAt.ToString("yy-MM-dd")</a></li>
                        </ul>
                        <h2>@Model.Title</h2>
                        <p>@Model.Text</p>
                        <blockquote>
                            @Model.BlogSlogans[0].Text
                            <span class="quoter">- @Model.BlogSlogans.ElementAt(0).Name</span>
                        </blockquote>
                        <h3>@Model.Subtitle</h3>
                        <p>@Model.Subtext</p>
                    </div>

                    <div class="tag-share clearfix">

                        <div class="share">
                            <span>Share: </span>
                            <ul>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div> <!-- end tag-share -->

                    <div class="author-box">
                        <div class="author-avatar">
                            <a href="#" target="_blank"><img src="~/uploads/@Model.BlogSlogans.ElementAt(0).Image" alt=""></a>
                        </div>
                        <div class="author-content">
                            <a href="#" class="author-name">@Model.BlogSlogans.ElementAt(0).Name</a>
                            <p>@Model.BlogSlogans.ElementAt(0).Text</p>B
                            <div class="socials">
                                <ul class="social-link">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- end author-box -->

                    <div class="more-posts">
                        <div class="previous-post">
                            <a href="#">
                                <span class="post-control-link">Previous Post</span>
                                <span class="post-name">Covered Mechin  the whole of her lower arm towards the armes</span>
                            </a>
                        </div>
                        <div class="next-post">
                            <a href="0.html">
                                <span class="post-control-link">Next Post</span>
                                <span class="post-name"> Tomar name was then turned to lwindow at the dull weather.</span>
                            </a>
                        </div>
                    </div>

                    <div class="comments-area">
                        <div class="comments-section">
                            <h3 class="comments-title">@Model.BlogComments.Count Comments</h3>
                            <ol class="comments">
                                @foreach (var item in Model.BlogComments)
                                {
                                    <li class="comment">
                                        <div>
                                            <div class="comment-theme">
                                                <div class="comment-image"><img src="images/blog-details/comments-author/img-4.jpg" alt=""></div>
                                            </div>
                                            <div class="comment-main-area">
                                                <div class="comment-wrapper">
                                                    <div class="comments-meta">
                                                        <h4>@item.Name<span class="comments-date">says at @item.ModifiedDate</span></h4>
                                                    </div>
                                                    <div class="comment-area">
                                                        <p>@item.Text</p>
                                                        <div class="comments-reply">
                                                            <a class="comment-reply-link" href="#"><span>Reply</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ol>
                        </div> <!-- end comments-section -->

                        <div class="comment-respond">
                            <h3 class="comment-reply-title">Komentinizi daxil edin</h3>
                            <form method="post" id="commentform" class="comment-form" asp-controller="Blog" asp-action="Detailed">
                                <input asp-for="BlogComments[0].BlogId" type="hidden" value="@Model.Id" />
                                <div class="form-textarea">
                                    <textarea id="comment" asp-for="BlogComments[0].Text" placeholder="Kommentariya yazın..."></textarea>
                                </div>
                                <div class="form-inputs">
                                    <input asp-for="BlogComments[0].Name" placeholder="Name" type="text">
                                </div>
                                <div class="form-submit">
                                    <input id="submit" value="Post Comment" type="submit">
                                </div>
                            </form>
                        </div>
                    </div> <!-- end comments-area -->
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>